@tailwind base;
@tailwind components;
@tailwind utilities;

/* ?font-family: 'Bitter', serif;
?font-family: 'Ceviche One', cursive;
?font-family: 'Concert One', cursive;
?font-family: 'Raleway', sans-serif;
?font-family: 'Ultra', serif; */

body {
	background-color: #0d1313;
	color: white;
}

section {
	width: 100vw;
	height: 100vh;
}

.wrapper {
	display: flex;
	flex-direction: row;
	width: 400vw;
	transform: rotate(90deg) translateY(-100vh);
	transform-origin: top left;
}

.outer-wrapper {
	width: 100vh;
	height: 100vw;
	transform: rotate(-90deg) translateX(-100vh);
	transform-origin: top left;
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
::-webkit-scrollbar {
	display: none;
}
